<mat-card class="article-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="profile-picture"></div>
      <mat-card-title>Username</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/test.png" alt="article image">
    <mat-card-content>

        <div>2025. 02. 22.</div>
        <mat-chip-set aria-label="Tags">
          <mat-chip>Tag1</mat-chip>
          <mat-chip>Tag2</mat-chip>
          <mat-chip>Tag3</mat-chip>
        </mat-chip-set>

        <h4>Title</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nunc eros, commodo at mi a, bibendum congue enim. Vivamus non sem nec nunc elementum venenatis ut nec tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque vestibulum dictum tortor, vel eleifend odio consequat a. Suspendisse accumsan diam sed nisi euismod suscipit. Aenean vel aliquet lorem. Suspendisse lacinia sapien sit amet velit porta, non bibendum neque sagittis. Quisque vitae quam maximus, tincidunt elit nec, aliquam libero. In tincidunt magna ornare dolor vulputate, nec malesuada risus euismod. Proin egestas metus quis faucibus interdum.
        </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>read more</button>
    </mat-card-actions>
  </mat-card>
