<mat-card class="article-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="profile-picture"></div>
      <mat-card-title>{{data.authorUserName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/test.png" alt="article image">
    <mat-card-content>

        <div>{{data.createdTime}}</div>
        <mat-chip-set aria-label="Tags">
          <mat-chip>Tag1</mat-chip>
          <mat-chip>Tag2</mat-chip>
          <mat-chip>Tag3</mat-chip>
        </mat-chip-set>

        <h4>{{data.createdTime}}</h4>

        <p>{{data.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/view-article">read more</button>
    </mat-card-actions>
  </mat-card>
