<div class="content">

    <div class="articlesContainer">
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
    </div>

</div>
