
<!--
<app-menu (selectedPage)="changePage($event)"></app-menu>
@if (page === "home") {
  <div class="home">
    <app-home></app-home>
  </div>
} @else if (page === 'login') {
  <app-login></app-login>
} @else if (page === 'profile') {
  <app-profile></app-profile>
} @else if (page === 'browse-articles') {
  <app-browse-articles></app-browse-articles>
} @else if (page === 'view-article') {
  <app-view-article></app-view-article>
} @else {
  <div class="home">
    <app-home></app-home>
  </div>
}
-->

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        mat-button 
        (click)="onToggleSidenav(sidenav)"
        class="menu-toggle-button">
        <mat-icon>menu</mat-icon>
      </button>
      <div>LearnFlow</div>
      <nav>
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/profile">Profile</a></li>
          <li><a routerLink="/browse-articles">Articles</a></li>
          <li><a routerLink="/view-article">Article</a></li>
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <router-outlet /> -->
