<div class="content">
    <h2>Newest articles</h2>

    <div class="article-list">
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
    </div>
    
    <h2>Best articles</h2>
    
    <div class="article-list">
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
        <app-article-card></app-article-card>
    </div>
</div>

