<div class="content">
    @if(articleData){
        <img src="assets/test.png" class="titleImg">
        <h1>{{ articleData.title }}</h1>
        <h3>{{ articleData.authorId | username | async }}</h3>
        <p>{{ articleData.createdTime | datePipe }}</p>
        <mat-chip-set aria-label="Tags">
            @for(tag of articleData.tags; track $index){
                <mat-chip>{{ tag }}</mat-chip>
            }
        </mat-chip-set>

        @if(curUserId == articleData.authorId){
            <button mat-flat-button (click)="deleteArticle()">Delete article</button><br>
        }
        
        
        <p class="contentText">
            {{ articleData.content }}
        </p>

        <h2 #commentStart>Comments</h2>
        @if(replyingTo){
            <h3>Replying to {{ replyingTo.writtenBy | username | async }}</h3>
        }
        <form [formGroup]="commentForm" (ngSubmit)="saveComment()">
        <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
            <input matInput type="text" formControlName="comment">
            </mat-form-field><br>
        <button mat-flat-button type="submit">Send</button>
        </form>
        <div class="comments">
            @for(comment of commentData; track $index){
                <app-comment-card [data]="comment" [canDelete]="comment.writtenBy == curUserId" (replyEvent)="reply($event, commentStart)" (deleteEvent)="deleteComment($event)"></app-comment-card>
                @for(reply of replyData; track $index){
                    @if(reply.replyTo == comment.id){
                        <app-comment-card [data]="reply" [canDelete]="reply.writtenBy == curUserId" (deleteEvent)="deleteComment($event)"></app-comment-card>
                    }
                }
            }
        </div>
    }
</div>
