<div class="content">
    <img src="assets/test.png" class="titleImg">
    <h1>Title</h1>
    <h3>Author</h3>
    <p>2025. 02. 22.</p>
    <mat-chip-set aria-label="Tags">
        <mat-chip>Tag1</mat-chip>
        <mat-chip>Tag2</mat-chip>
        <mat-chip>Tag3</mat-chip>
    </mat-chip-set>
    
    <p class="contentText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, enim vitae luctus vestibulum, nunc sem ullamcorper mauris, a fermentum quam tortor non ipsum. Pellentesque tincidunt pharetra vestibulum. Donec suscipit, sapien at consequat suscipit, augue turpis elementum tellus, a facilisis enim justo a ex.
    </p>

    <img src="assets/test.png" class="contentImg">

    <p class="contentText">
        Donec quam leo, ornare hendrerit feugiat non, volutpat a nibh. Donec eget venenatis sapien. Duis luctus lacus lacus, vitae fringilla ex finibus imperdiet. Nullam vestibulum tellus eget turpis gravida, vitae fringilla erat elementum.
    </p>

    <h2>Comments</h2>
    <div class="comments">
        <app-comment-card></app-comment-card>
        <app-comment-card></app-comment-card>
        <app-comment-card></app-comment-card>
    </div>
</div>
